/*
 * Copyright 2013 pingworks - Alexander Birk und Christoph Lukas
 * Copyright 2014 //SEIBERT/MEDIA - Lars-Erik Kimmel
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
var Dash = {};

Dash.config = {
    version: '<%= node['chef-dash']['package']['version'] %>',
    toolbar: {
        left: [
            {
                id: 'Logo',
                xtype: 'component',
                width: 48,
                height: 38,
                html: '<img src="resources/img/icons/Dashboard-green.png" />'
            },
            {
                xtype: 'component',
                html: '&nbsp;',
                width: 10
            },
            {
                id: 'Title',
                xtype: 'component',
                html: '<%= node['chef-dash']['frontend']['toolbar']['left']['title'] %>',
                style: 'font-size: 32px'
            }
        ],
        links: [
            <%= node['chef-dash']['frontend']['toolbar']['links'] %>
        ]
    },

    bundlegrid: {
        title: '<%= node['chef-dash']['frontend']['bundlegrid']['title'] %>',
        dateformat: 'd.m.Y H:i:s',
        icon: {
            change: 'resources/img/icons/change.png',
            deploy: 'resources/img/icons/deploy.png',
            comment: 'resources/img/icons/comment.png',
            lockExtension: 'resources/img/icons/lockExtension.png',
            restartBuild: 'resources/img/icons/restartBuild.png',
            stopBuild: 'resources/img/icons/stopBuild.png',
            showBuild: 'resources/img/icons/showBuild.png'
        },
        repolink: '<%= node['chef-dash']['frontend']['bundlegrid']['repolink'] %>',
        vcslink: '<%= node['chef-dash']['frontend']['bundlegrid']['vcslink'] %>',
        vcsrepolink: '<%= node['chef-dash']['frontend']['bundlegrid']['vcsrepolink'] %>',
        sort: {
            field: 'timestamp',
            dir: 'DESC'
        },
        reload: <%= node['chef-dash']['frontend']['bundlegrid']['reload'] %>, // 5 min
        deployment: {
            enabled: <%= node['chef-dash']['frontend']['bundlegrid']['deployment']['enabled'] %>,
            required: {
                field: 'stage1',
                value: 3
            }
        },
        triggerJenkinsJob: {
            enabled: <%= node['chef-dash']['frontend']['bundlegrid']['triggerJenkinsJob']['enabled'] %>,
            required: {
                field: 'stage1',
                value: 3
            }
        },
        colwidth: {
            timestamp: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['timestamp'] %>,
            committer: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['committer'] %>,
            pname: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['pname'] %>,
            branch: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['branch'] %>,
            revision: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['revision'] %>,
            repository: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['repository'] %>,
            bundle: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['bundle'] %>,
            stage1: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['stage1'] %>,
            stage2: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['stage2'] %>,
            stage3: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['stage3'] %>,
            build: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['build'] %>,
            changes: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['changes'] %>,
            deployment: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['deployment'] %>,
            triggerJenkinsJob: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['triggerJenkinsJob'] %>,
            editComment: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['editComment'] %>,
            comment: <%= node['chef-dash']['frontend']['bundlegrid']['colwidth']['comment'] %>
        },
        label: {
            timestamp: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['timestamp'] %>',
            committer: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['committer'] %>',
            pname: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['pname'] %>',
            branch: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['branch'] %>',
            revision: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['revision'] %>',
            repository: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['repository'] %>',
            bundle: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['bundle'] %>',
            stage1: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['stage1'] %>',
            stage2: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['stage2'] %>',
            stage3: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['stage3'] %>',
            build: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['build'] %>',
            changes: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['changes'] %>',
            deployment: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['deployment'] %>',
            triggerJenkinsJob: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['triggerJenkinsJob'] %>',
            editComment: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['editComment'] %>',
            comment: '<%= node['chef-dash']['frontend']['bundlegrid']['label']['comment'] %>'
        },
        hidden: {
            timestamp: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['timestamp'] %>,
            committer: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['committer'] %>,
            pname: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['pname'] %>,
            branch: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['branch'] %>,
            revision: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['revision'] %>,
            repository: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['repository'] %>,
            bundle: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['bundle'] %>,
            stage1: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['stage1'] %>,
            stage2: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['stage2'] %>,
            stage3: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['stage3'] %>,
            build: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['build'] %>,
            changes: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['changes'] %>,
            deployment: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['deployment'] %>,
            triggerJenkinsJob: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['triggerJenkinsJob'] %>,
            editComment: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['editComment'] %>,
            comment: <%= node['chef-dash']['frontend']['bundlegrid']['hidden']['comment'] %>
        },
        flex: {
            deployment: <%= node['chef-dash']['frontend']['bundlegrid']['flex']['deployment'] %>,
            triggerJenkinsJob: <%= node['chef-dash']['frontend']['bundlegrid']['flex']['triggerJenkinsJob'] %>,
            comment: <%= node['chef-dash']['frontend']['bundlegrid']['flex']['comment'] %>
        }
    },

    environmentgrid: {
        dateformat: 'd.m.Y H:i:s',
        envlink: '<a href="{0}" target="_blank" style="color: black">{1}</a>'
    },

    branch: {
        endpoint: '/branch'
    },

    bundle: {
        endpoint: '/bundle',
        dateformat: 'Y-m-d_H:i:s'
    },

    comment: {
        endpoint: '/comment'
    },

    change: {
        endpoint: '/change',
        title: 'Changes in Bundle {0}'
    },

    content: {
        endpoint: '/content'
    },

    stagestatus: {
        iconpath: 'resources/img/icons/status/{0}',
        data: [
            {
                'id': 0,
                'name': 'not running',
                'cls': 'unknown',
                'icon': 'grey.png'
            },
            {
                'id': 1,
                'name': 'in progress',
                'cls': 'inprogress',
                'icon': 'green-ani.gif'
            },
            {
                'id': 2,
                'name': 'failed',
                'cls': 'failed',
                'icon': 'red.png'
            },
            {
                'id': 3,
                'name': 'success',
                'cls': 'success',
                'icon': 'green.png'
            }
        ]
    },

    jobstatus: {
        iconpath: 'resources/img/icons/status/{0}',
        data: [
            {
                'id': '-',
                'name': 'not running',
                'cls': 'unknown',
                'icon': 'grey.png'
            },
            {
                'id': 'UNSTABLE',
                'name': 'unstable',
                'cls': 'unstable',
                'icon': 'yellow.png'
            },
            {
                'id': 'FAILURE',
                'name': 'failed',
                'cls': 'failed',
                'icon': 'red.png'
            },
            {
                'id': 'IN_PROGRESS',
                'name': 'inprogress',
                'cls': 'inprogress',
                'icon': 'green-ani.gif'
            },
            {
                'id': 'SUCCESS',
                'name': 'success',
                'cls': 'success',
                'icon': 'green.png'
            }
        ]
    },

    jobresult: {
        endpoint: '/jobresult',
        text: '<%= node['chef-dash']['frontend']['jobresult']['text'] %>',
        title: '<%= node['chef-dash']['frontend']['jobresult']['title'] %>',
        stageMap: {
            1: 'First',
            2: 'Second',
            3: 'Third'
        }
    },

    environment: {
        endpoint: '/environment',
        dateformat: 'Y-m-d H:i:s'
    },

    build: {
        triggerRestartUrl: '<%= node['chef-dash']['frontend']['build']['triggerRestartUrl'] %>',
        triggerStopUrlPathSuffix: 'stop'
    },

    deployment: {
        triggerUrl: '<%= node['chef-dash']['frontend']['deployment']['triggerUrl'] %>',
        showUrl: '<%= node['chef-dash']['frontend']['deployment']['showUrl'] %>',
        features: {
            content: {
                enabled: <%= node['chef-dash']['frontend']['deployment']['feature']['content']['enabled'] %>,
                label: 'Content',
                emptyText: 'no deployment this time'
            },
            dbreset: {
                enabled: <%= node['chef-dash']['frontend']['deployment']['feature']['dbreset']['enabled'] %>,
                label: 'Database Reset'
            }
        }
    },

    triggerJenkinsJob: {
        triggerUrl: '<%= node['chef-dash']['frontend']['triggerJenkinsJob']['triggerUrl'] %>',
        showUrl: '<%= node['chef-dash']['frontend']['triggerJenkinsJob']['showUrl'] %>',
        title: 'Deployment to production',
        label: {
            cancel: 'Cancel',
            run: 'Go go go !!'
        },
        text: 'Do you really want to deploy to production?',
        inputFields: [/*{
         type: 'checkbox',
         label: 'Module 1: {1}',
         labelBundleKey: 'foo',
         name: 'module1',
         value: 'module1'
         }, {
         type: 'checkbox',
         label: 'Module 2: {1}',
         labelBundleKey: 'bar',
         name: 'module2',
         value: 'module2'
         }*/],
        params: {
            bundle: {
                name: 'branch_bundle',
                value: '{0}:{1}'
            },
            formValues: {
                name: 'formValues'
            }
        }
    },

    lockduration: {
        data: [
            {
                'id': '1',
                'name': '1 hour'
            },
            {
                'id': '2',
                'name': '2 hours'
            },
            {
                'id': '4',
                'name': '4 hours'
            },
            {
                'id': '8',
                'name': '8 hours'
            },
            {
                'id': '24',
                'name': '1 day'
            },
            {
                'id': '48',
                'name': '2 days'
            },
            {
                'id': '120',
                'name': '5 days'
            }
        ]
    },

    error: {
        title: 'Error',
        msg: 'Unable to read data from server.'
    }

}
